<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/app.css"/>
    <meta charset="UTF-8">
    <title></title>
</head>
<body ng-controller="ApplicationCtrl">
<div class="container">
    <form name="newgame">
        <input class="btn" name="newgame" type="submit" value="New Game" ng-click="init()"/>
        <label>X</label>
        <select ng-model="playerX" ng-change="updatePlayer('X')" >
            <option>Human</option>
            <option>Computer</option>
        </select>
        <label>O</label>
        <select ng-model="playerO" ng-change="updatePlayer('O')">
            <option>Human</option>
            <option>Computer</option>
        </select>
    </form>
    <div>Current Player: {{currentPlayer}}</div>
    <div class="board">
        <div ng-style="styleval[0]" ng-click="setValue(0, 0)">{{val[0]}}</div>
        <div ng-style="styleval[1]" ng-click="setValue(0, 1)">{{val[1]}}</div>
        <div ng-style="styleval[2]" ng-click="setValue(0, 2)">{{val[2]}}</div>
        <br />
        <div ng-style="styleval[3]" ng-click="setValue(1, 0)">{{val[3]}}</div>
        <div ng-style="styleval[4]" ng-click="setValue(1, 1)">{{val[4]}}</div>
        <div ng-style="styleval[5]" ng-click="setValue(1, 2)">{{val[5]}}</div>
        <br />
        <div ng-style="styleval[6]" ng-click="setValue(2, 0)">{{val[6]}}</div>
        <div ng-style="styleval[7]" ng-click="setValue(2, 1)">{{val[7]}}</div>
        <div ng-style="styleval[8]" ng-click="setValue(2, 2)">{{val[8]}}</div>
        <br />
    </div>
    <div>{{message}}</div>
    <div>State: {{state}}</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.js"></script>
<script src="/app.js"></script>
</body>
</html>