h1 {
  color: #00f;
  margin-left: 5px;
}
.board input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
.board label {
  display: block;
  width: 30px;
  height: 50px;
  padding: 10px 20px;
  outline: 1px solid #bbb;
  background: #fff;
  float: left;
  color: transparent;
  font-size: 50px;
  line-height: 1;
  overflow: hidden;
}
.board br {
  clear: left;
}
.board div {
  float: left;
  width: 50px;
  height: 45px;
  padding: 12px 20px;
  border: 1px solid #000;
}
